.footer {
  position: relative;

  background-color: #19282f;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  height: 107px;
}
.footer h2 {
  margin: 0;
  padding-bottom: 10px;
}
.recognitions li,
.recognitions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.recognitions a {
  text-decoration: underline;
  color: white;
}
