.btn {
  outline: none;
  border: none;
  background-color: #54bab9;
  padding: 13px 35px;
  color: white;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.55s;
}
.btn:hover {
  transform: scale(1.095);
}
form {
  text-align: center;
}
