.article {
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 300px);

  justify-content: center;
}

.card {
  position: relative;

  display: flex;
  height: 170px;
  border: 2px solid white;
  background-repeat: no-repeat;
  background-size: 45px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
}
.card h2 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.card img {
  width: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#card2 img {
  width: 50px;
  top: 6px;
  right: 6px;
}
#card1 {
  background-color: #19282f;
}
#card2 {
  background-color: #19282f;
}
#card3 {
  background-color: #b33030;
}
#card4 {
  background-color: #19282f;
}
#card5 {
  background-color: #b33030;
}
#card6 {
  background-color: #19282f;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.covid {
  text-align: center;
}
.covid img {
  animation: rotation 6.2s infinite linear;
  width: 300px;
  margin-top: 50px;
}
@media only screen and (max-width: 990px) {
  .article {
    grid-template-columns: repeat(2, 350px);
  }
  .card {
    height: 200px;
  }
}
@media only screen and (max-width: 765px) {
  .article {
    grid-template-columns: repeat(1, 380px);
  }
  .card {
    height: 230px;
  }
  .card h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .article {
    grid-template-columns: repeat(1, 300px);
  }
  .card {
    height: 190px;
  }
  .card h2 {
    font-size: 1.5rem;
  }
}
