body {
  background-color: #fbf8f1;
}
.heading {
  text-align: center;
  margin: 50px 0 30px 0;
  color: #323232;
  font-size: 4rem;
}
@media only screen and (max-width: 990px) {
  .heading {
    font-size: 3rem;
  }
}
